.bars {
  height: 85px;
}


svg {

  width: 900px;
}


.block {

	background-color: #282d40;
	float: left;
	width: 75px;
	height: 35px;
	margin-left: 150px;
	margin-top: 21px;
}

.text {
	position: absolute;
	display: inline;
	margin-top: 9px;
	margin-left: 20px;
	color: white;
	float: left;
}

.text-velocity {
	display: none;
	margin-left: 150px;
	color: black;
}




/*CSS FOR DONUTS*/
.donut-chart { width: 204px; height: 204px; margin: 80px; float: left; }



